article {

}

nav {
    margin: 1em;
    font-size: var(--size-type-body);
}
header {
    font-family: "Tilt Neon", sans-serif;
    color: white;
    background-color: var(--color-banner);
    font-size: var(--size-type-mlarge);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
h1.title {
    grid-column: 2;
    text-align: center;
}

drop-down.menu {
    grid-column: 4;
    
}

body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background-body);
}

.widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    border-style: solid;
    margin: .5em;
    border-color: black;
    background-color: var(--color-background-card);
    border-radius: 1em;
    color: var(--color-text);
}

card heading {
    color: var(--color-text);
    justify-content: space-between;
    margin: .5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
card_body{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
card_body img {
    border-radius: 1em;

}
section > heading{
    font-family: "Tilt Neon", sans-serif;
    font-size: var(--size-type-large);
    color: var(--color-text-section-title);
    background-color: var(--color-background-section-title);
    text-decoration: underline;
}
section {
    border-style: solid;
    margin: 1em;
   
    font-size: var(--size-type-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
section_body{

    font-size: var(--size-type-body);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
widget_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
card.widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    border-style: solid;
    margin: .5em;
    border-color: black;
    background-color: var(--color-background-card);
    border-radius: 1em;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

header.placard {
    background-color: white;
    color: var(--color-text);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border-color: rgb(4, 4, 4);
    border-style: solid;
}

